<div class="header">
    <div class="header-inner">
        <div class="container"  ng-controller="HeaderController as headerctrl">
            <div class="navbar">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Election Fun!</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li ng-class="{ active: headerctrl.renderingPie}"><a href="pie.html">Professions Overall</a></li>
                        <li ng-class="{ active: !headerctrl.renderingPie}"><a href="chord.html">Profession to Year Mapping</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li><a href="http://chrismennie.ca"><i class="icon-globe"></i></a></li>
                        <li><a href="mailto:chris@chrismennie.ca"><i class="icon-envelope"></i> Me</a></li>
                        <li><a href="http://www.linkedin.com/in/camennie"><i class="linkedin"></i></a></li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div>
        </div>
    </div>
</div> <!-- /header -->

<div class="topic">
    <div class="inner-topic">
        <div class="container" ng-controller="TitleController as titlectrl">
            <div class="row">
                <div class="span12">
                    <h1 ng-if="titlectrl.UIModel.useElected">Top Elected Professions for Canadian  Elections</h1>
                    <h1 ng-if="!titlectrl.UIModel.useElected">Top Unelected Professions for Canadian  Elections</h1>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /topic -->


<div class="wrapper">
    <div class="inner-wrapper">
        <div class="container" ng-controller="ProfessionsController as ctrl" >
            <div class="row">

                <div class="span8">
                    <div class="wii">
                        <div class="browser-bar"></div>

                        <div class="wii-desc">
                            <h2 ng-if="ctrl.UIModel.useElected">Elected professions {{ctrl.UIModel.yearRangeStart}} - {{ctrl.UIModel.yearRangeEnd}}</h2>
                            <h2 ng-if="!ctrl.UIModel.useElected">Never elected professions {{ctrl.UIModel.yearRangeStart}} - {{ctrl.UIModel.yearRangeEnd}}</h2>
                            <hr>

                            <div id="svgDiv">

                            </div>

                            <hr class="clearBoth">


                        </div>
                    </div>
                </div>


                <div class="span4">
                    <div class="wii">
                        <div class="browser-bar"></div>
                        <div class="wii-desc">
                            <h2>Navigation</h2>
                            <hr>

                            <div>
                                <div ng-show="!ctrl.UIModel.allYears" id="yearSlider">

                                    <div range-slider class="yearRange" min="ctrl.UIModel.minYear" max="ctrl.UIModel.maxYear"
                                         model-min="ctrl.UIModel.yearRangeStart" model-max="ctrl.UIModel.yearRangeEnd"></div>


                                    <table>
                                        <tr>
                                            <td class="textAlignRight padRight10px"> Start year: </td>
                                            <td><input type="number" ng-model="ctrl.UIModel.yearRangeStart"
                                                       class="yearInput"
                                                       ng-change="ctrl.UIModel.validateYears();">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="textAlignRight padRight10px">End year: </td>
                                            <td><input type="number" ng-model="ctrl.UIModel.yearRangeEnd"
                                                       class="yearInput"
                                                       ng-change="ctrl.UIModel.validateYears();">
                                            </td>
                                        </tr>

                                    </table>
                                </div>

                                <form>
                                    <input type="radio" ng-model="ctrl.UIModel.useElected" ng-value="true" ng-change="ctrl.drawGraph()">Show top elected professions
                                    <br>
                                    <input type="radio" ng-model="ctrl.UIModel.useElected" ng-value="false" ng-change="ctrl.drawGraph()">Show top never elected professions
                                </form>

                                <p>
                                    Show for province / territory:
                                    <select ng-model="ctrl.UIModel.provincesSelection" class="eightyPercentWidth"
                                            ng-change="ctrl.drawGraph()"
                                            ng-options="provinceSelection.name for provinceSelection in ctrl.UIModel.provincesOptions"
                                            ></select>

                            </div>

                            <hr class="clearBoth">

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div> <!-- /wrapper -->

<div id="tooltip"></div>

<div class="footer">
    <div class="inner-footer">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="middle-f">
                        <p>&copy; 2014 Chris Mennie. All rights reserved.

                        <ul class="nav pull-right">
                            <li class="floatLeft"><a href="http://chrismennie.ca"><i class="icon-globe"></i></a></li>
                            <li class="floatLeft"><a href="mailto:chris@chrismennie.ca"><i class="icon-envelope"></i> Me</a></li>
                            <li class="floatLeft"><a href="http://www.linkedin.com/in/camennie"><i class="linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /footer -->
